In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('googlestockdataset.csv')
data.head()

,Unnamed: 0,Date,Open,High,Low,Close,Adj Close,Volume
0,0,2013/01/02,18.003504,18.193193,17.931683,18.099348,18.099348,101550348
1,1,2013/01/03,18.141392,18.316566,18.036036,18.109859,18.109859,92635272
2,2,2013/01/04,18.251753,18.555305,18.210211,18.467718,18.467718,110429460
3,3,2013/01/07,18.404655,18.503002,18.282784,18.387136,18.387136,66161772
4,4,2013/01/08,18.406906,18.425926,18.128880,18.350851,18.350851,66976956

In [3]:
data.shape

(2536, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2536 entries, 0 to 2535
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2536 non-null   int64
 1   Date        2536 non-null   object
 2   Open        2536 non-null   float64
 3   High        2536 non-null   float64
 4   Low         2536 non-null   float64
 5   Close       2536 non-null   float64
 6   Adj Close   2536 non-null   float64
 7   Volume      2536 non-null   int64
dtypes: float64(5), int64(2), object(1)
memory usage: 158.6+ KB

In [5]:
data.describe()

,Unnamed: 0,Open,High,Low,Close,Adj Close,Volume
count,2536.000000,2536.000000,2536.000000,2536.000000,2536.000000,2536.000000,2.536000e+03
mean,1267.500000,59.746815,60.350351,59.126071,59.752340,59.752340,4.277325e+07
std,732.224465,34.629696,35.037901,34.204419,34.622387,34.622387,2.692419e+07
min,0.000000,17.634134,17.651152,17.405405,17.589338,17.589338,9.312000e+06
25%,633.750000,30.427364,30.636137,30.285035,30.470658,30.470658,2.686500e+07
50%,1267.500000,52.257750,52.703001,51.505501,52.189501,52.189501,3.436300e+07
75%,1901.250000,74.542501,75.379124,73.883247,74.422125,74.422125,4.887500e+07
max,2535.000000,151.250000,151.546494,148.899002,149.838501,149.838501,4.621933e+08