In [1]:
from pytrends.request import TrendReq
import matplotlib.pyplot as plt
trends = TrendReq()

In [9]:
trends.build_payload(kw_list=['Data Science'])
data = trends.interest_by_region()
data1 = trends.interest_over_time()
data = data.sort_values(by='Data Science', ascending=False)
data1 = data1.sort_values(by='Data Science', ascending=False)

In [5]:
data.head(10)

           Data Science
geoName
Ethiopia            100
China               100
Singapore           100
India               100
Nigeria              83
Kenya                71
Pakistan             67
Ghana                67
Nepal                66
Sri Lanka            53

In [10]:
data1.head(10)

            Data Science  isPartial
date
2022-09-11           100      False
2022-09-18            97      False
2022-09-25            95      False
2022-08-28            95      False
2022-10-09            95      False
2022-07-31            94      False
2022-04-03            93      False
2022-04-24            93      False
2022-08-21            92      False
2022-05-08            92      False