In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [2]:
data = pd.DataFrame({'warna':['merah','kuning','hijau','biru','ungu']})
data

    warna
0   merah
1  kuning
2   hijau
3    biru
4    ungu

In [3]:
lb = LabelEncoder()
data['warna'] = lb.fit_transform(data['warna'])
data

   warna
0      3
1      2
2      1
3      0
4      4

In [4]:
data1 = pd.get_dummies(data['warna'])
data1

   0  1  2  3  4
0  0  0  0  1  0
1  0  0  1  0  0
2  0  1  0  0  0
3  1  0  0  0  0
4  0  0  0  0  1