In [8]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import seaborn as sns

### Data Acquisition

Dataset: https://www.kaggle.com/code/jeyasrisenthil/milk-quality-prediction/data

In [2]:
data = pd.read_csv('milknew.csv')
data.head(10)

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0  6.6          35      1     0     1          0     254    high
1  6.6          36      0     1     0          1     253    high
2  8.5          70      1     1     1          1     246     low
3  9.5          34      1     1     0          1     255     low
4  6.6          37      0     0     0          0     255  medium
5  6.6          37      1     1     1          1     255    high
6  5.5          45      1     0     1          1     250     low
7  4.5          60      0     1     1          1     250     low
8  8.1          66      1     0     1          1     255     low
9  6.7          45      1     1     0          0     247  medium

Keterangan Dataset:

pH = PH susu yang berkisar antara 3 hingga 9,5.

Temprature = Temprature susu yang berkisar dari 34'C hingga 90'C

Taste = Taste susu yang merupakan data kategoris 0 (Buruk) atau 1 (Baik)

Odor = Bau susu yang merupakan data kategoris 0 (Buruk) atau 1 (Baik)

Fat = Bau susu yang merupakan data kategoris 0 (Rendah) atau 1 (Tinggi)

Turbidity = Kekeruhan susu yang merupakan data kategoris 0 (Rendah) atau 1 (Tinggi)

Colour = Warna susu yang berkisar antara 240 hingga 255

Grade = Grade (Target) susu yang merupakan data kategoris Dimana Rendah, Sedang atau Tinggi

### Data Exploration

In [3]:
data.shape

(1059, 8)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pH          1059 non-null   float64
 1   Temprature  1059 non-null   int64
 2   Taste       1059 non-null   int64
 3   Odor        1059 non-null   int64
 4   Fat         1059 non-null   int64
 5   Turbidity   1059 non-null   int64
 6   Colour      1059 non-null   int64
 7   Grade       1059 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 66.3+ KB

In [5]:
data.describe()

,pH,Temprature,Taste,Odor,Fat,Turbidity,Colour
count,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000,1059.000000
mean,6.630123,44.226629,0.546742,0.432483,0.671388,0.491029,251.840415
std,1.399679,10.098364,0.498046,0.495655,0.469930,0.500156,4.307424
min,3.000000,34.000000,0.000000,0.000000,0.000000,0.000000,240.000000
25%,6.500000,38.000000,0.000000,0.000000,0.000000,0.000000,250.000000
50%,6.700000,41.000000,1.000000,0.000000,1.000000,0.000000,255.000000
75%,6.800000,45.000000,1.000000,1.000000,1.000000,1.000000,255.000000
max,9.500000,90.000000,1.000000,1.000000,1.000000,1.000000,255.000000

In [6]:
data.isnull().sum()

pH            0
Temprature    0
Taste         0
Odor          0
Fat           0
Turbidity     0
Colour        0
Grade         0
dtype: int64

In [7]:
data['pH'].value_counts()

6.8    249
6.5    189
6.6    159
6.7     82
3.0     70
9.0     61
8.6     40
7.4     39
4.5     37
9.5     24
8.1     24
5.5     23
8.5     22
4.7     20
5.6     19
6.4      1
Name: pH, dtype: int64

In [10]:
data['Temprature'].value_counts()

45    219
38    179
40    132
37     83
43     77
36     66
50     58
55     48
34     40
41     30
66     24
35     23
70     22
65     22
60     18
90     17
42      1
Name: Temprature, dtype: int64

In [11]:
data['Taste'].value_counts()

1    579
0    480
Name: Taste, dtype: int64

In [13]:
data['Fat '].value_counts()

1    711
0    348
Name: Fat , dtype: int64

In [14]:
data['Colour'].value_counts()

255    628
250    146
245    115
247     48
246     44
240     32
248     23
253     22
254      1
Name: Colour, dtype: int64

In [15]:
data['Grade'].value_counts()

low       429
medium    374
high      256
Name: Grade, dtype: int64