In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data = pd.read_csv('AB_Test_Results.csv')
data.head()

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [4]:
data.shape

(10000, 3)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   USER_ID       10000 non-null  int64
 1   VARIANT_NAME  10000 non-null  object
 2   REVENUE       10000 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 234.5+ KB

In [6]:
data.isnull().sum()

USER_ID         0
VARIANT_NAME    0
REVENUE         0
dtype: int64

In [7]:
data['VARIANT_NAME'].nunique()

2

In [8]:
data['VARIANT_NAME'].value_counts()

variant    5016
control    4984
Name: VARIANT_NAME, dtype: int64

In [10]:
data['REVENUE'].nunique()

101

In [11]:
data['USER_ID'].nunique()

6324

In [13]:
data.duplicated().sum()

2067

In [21]:
data = data.drop_duplicates()

In [22]:
data.shape

(7933, 3)

In [24]:
uniq = data.groupby('USER_ID')['VARIANT_NAME'].nunique().value_counts()
uniq

1    4783
2    1541
Name: VARIANT_NAME, dtype: int64

In [25]:
data.groupby('USER_ID')['VARIANT_NAME'].nunique().value_counts().iloc[0] == uniq.iloc[0]

True

Visualization