Sumber Data: https://www.kaggle.com/datasets/praveengovi/credit-risk-classification-dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cust = pd.read_csv('customer_data.csv')
payment = pd.read_csv('payment_data.csv')

## Keterangan Dataset

### payment_data.csv: customer’s card payment history.

id: customer id

OVD_t1: number of times overdue type 1

OVD_t2: number of times overdue type 2

OVD_t3: number of times overdue type 3

OVD_sum: total overdue days

pay_normal: number of times normal payment

prod_code: credit product code

prod_limit: credit limit of product

update_date: account update date

new_balance: current balance of product

highest_balance: highest balance in history

report_date: date of recent payment

### customer_data.csv:

customer’s demographic data and category attributes which have been encoded.

Category features are fea_1, fea_3, fea_5, fea_6, fea_7, fea_9.

label is 1, the customer is in high credit risk

label is 0, the customer is in low credit risk

In [3]:
cust.head(10)

,label,id,fea_1,fea_2,fea_3,fea_4,fea_5,fea_6,fea_7,fea_8,fea_9,fea_10,fea_11
0,1,54982665,5,1245.5,3,77000.0,2,15,5,109,5,151300,244.948974
1,0,59004779,4,1277.0,1,113000.0,2,8,-1,100,3,341759,207.173840
2,0,58990862,7,1298.0,1,110000.0,2,11,-1,101,5,72001,1.000000
3,1,58995168,7,1335.5,1,151000.0,2,11,5,110,3,60084,1.000000
4,0,54987320,7,NaN,2,59000.0,2,11,5,108,4,450081,197.403141
5,0,59005995,6,1217.0,3,56000.0,2,6,-1,100,3,60091,1.000000
6,1,59001917,4,1304.0,3,35000.0,2,8,9,85,5,60069,1.000000
7,1,54984789,5,1256.0,3,78000.0,2,15,-1,111,3,60030,1.000000
8,0,58984557,5,1323.5,3,218000.0,2,15,5,112,4,151300,282.842713
9,0,54990497,4,NaN,2,35000.0,2,8,5,101,3,60029,237.301496

In [4]:
payment.head()

,id,OVD_t1,OVD_t2,OVD_t3,OVD_sum,pay_normal,prod_code,prod_limit,update_date,new_balance,highest_balance,report_date
0,58987402,0,0,0,0,1,10,16500.0,04/12/2016,0.0,NaN,NaN
1,58995151,0,0,0,0,1,5,NaN,04/12/2016,588720.0,491100.0,NaN
2,58997200,0,0,0,0,2,5,NaN,04/12/2016,840000.0,700500.0,22/04/2016
3,54988608,0,0,0,0,3,10,37400.0,03/12/2016,8425.2,7520.0,25/04/2016
4,54987763,0,0,0,0,2,10,NaN,03/12/2016,15147.6,NaN,26/04/2016