In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_theme(style="whitegrid")
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/khsieh18/Time-Series/master/AEP_hourly.csv')
data.head(10)

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0
2  2004-12-31 03:00:00  12577.0
3  2004-12-31 04:00:00  12517.0
4  2004-12-31 05:00:00  12670.0
5  2004-12-31 06:00:00  13038.0
6  2004-12-31 07:00:00  13692.0
7  2004-12-31 08:00:00  14297.0
8  2004-12-31 09:00:00  14719.0
9  2004-12-31 10:00:00  14941.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121273 entries, 0 to 121272
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121273 non-null  object
 1   AEP_MW    121273 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.9+ MB

In [4]:
data.isnull().sum()

Datetime    0
AEP_MW      0
dtype: int64

In [5]:
data['Datetime'] = data['Datetime'].astype('datetime64')

print(data.dtypes)

Datetime    datetime64[ns]
AEP_MW             float64
dtype: object