In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### This dataset contains region wise records of road accidents from 2014 to 2016 in India, as a result of driver violations

sno: Serial number of the state/UT (Integer)

stateut: Name of the state/UT (String)

region: Region of the state/UT (String)

alcintake2014: Number of accidents due to alcohol intake in 2014 (Integer)

overspeed2014: Number of accidents due to overspeeding in 2014 (Integer)

overtaking2014: Number of accidents due to overtaking in 2014 (Integer)

lanejumping2014: Number of accidents due to lane jumping in 2014 (Integer)

asleep2014: Number of accidents due to sleeping at the wheel in 2014 (Integer)

othercause2014: Number of accidents due to miscellaneous causes in 2014 (Integer)

alcintake2016: Number of accidents due to alcohol intake in 2016 (Integer)

overspeed2016: Number of accidents due to overspeeding in 2016 (Integer)

lanejumping2016: Number of accidents due to lane jumping in 2016 (Integer)

overtaking2016: Number of accidents due to overtaking in 2016 (Integer)

asleep2016: Number of accidents due to sleeping at the wheel in 2016 (Integer)

othercause2016: Number of accidents due to miscellaneous causes in 2016 (Integer)

In [2]:
data = pd.read_csv('driverresponse.csv')
data.head()

,index,sno,stateut,region,regionid,alcintake2014,overspeed2014,overtaking2014,lanejumping2014,wrongside2014,...,asleep2014,othercause2014,alcintake2016,overspeed2016,signalavoid2016,wrongside2016,lanejumping2016,overtaking2016,asleep2016,othercause2016
0,0,1,Andhra Pradesh,south,2,594,12747.0,507,328,668,...,154,1938,128,17286,40,667,325,1024,306,2868
1,1,2,Arunachal Pradesh,northeast,5,11,16.0,0,0,0,...,0,22,15,45,0,7,11,8,8,18
2,2,3,Assam,northeast,5,613,4596.0,129,104,156,...,3,628,352,3520,64,334,156,371,3,873
3,3,4,Bihar,north,1,1680,1496.0,278,236,308,...,72,439,593,2323,8,458,156,573,122,612
4,4,5,Chhattisgarh,centre,9,335,6720.0,188,313,266,...,81,520,145,6660,62,410,175,467,144,953

In [3]:
data.shape

(36, 21)

In [4]:
data = data.drop(columns='index')

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sno              36 non-null     int64
 1   stateut          36 non-null     object
 2   region           36 non-null     object
 3   regionid         36 non-null     int64
 4   alcintake2014    36 non-null     int64
 5   overspeed2014    35 non-null     float64
 6   overtaking2014   36 non-null     int64
 7   lanejumping2014  36 non-null     int64
 8   wrongside2014    36 non-null     int64
 9   signalavoid2014  36 non-null     int64
 10  asleep2014       36 non-null     int64
 11  othercause2014   36 non-null     int64
 12  alcintake2016    36 non-null     int64
 13  overspeed2016    36 non-null     int64
 14  signalavoid2016  36 non-null     int64
 15  wrongside2016    36 non-null     int64
 16  lanejumping2016  36 non-null     int64
 17  overtaking2016   36 non-null     int64
 18  asleep2016       36 non-null     int64
 19  othercause2016   36 non-null     int64
dtypes: float64(1), int64(17), object(2)
memory usage: 5.8+ KB

In [8]:
data.describe()

,sno,regionid,alcintake2014,overspeed2014,overtaking2014,lanejumping2014,wrongside2014,signalavoid2014,asleep2014,othercause2014,alcintake2016,overspeed2016,signalavoid2016,wrongside2016,lanejumping2016,overtaking2016,asleep2016,othercause2016
count,36.000000,36.000000,36.000000,35.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,18.500000,4.000000,525.444444,5950.600000,312.833333,283.361111,302.000000,37.000000,92.027778,1007.944444,413.722222,7453.916667,124.750000,490.388889,236.472222,823.527778,126.444444,1403.611111
std,10.535654,2.746426,767.133866,8677.731983,514.513279,462.370115,389.184642,81.196411,234.019472,1780.826436,907.754202,11689.392631,225.198246,754.259534,454.375457,1477.494162,248.883501,1927.404966
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,9.750000,1.750000,11.750000,72.500000,1.500000,0.000000,6.250000,0.000000,0.000000,19.000000,24.000000,140.500000,0.000000,16.500000,0.000000,16.500000,0.000000,24.750000
50%,18.500000,4.000000,82.500000,2561.000000,75.500000,86.500000,113.000000,4.500000,5.000000,156.000000,105.000000,2009.500000,9.500000,118.000000,65.500000,175.000000,7.500000,555.000000
75%,27.250000,5.000000,706.500000,6493.000000,350.000000,316.750000,531.750000,34.500000,133.000000,810.000000,412.500000,10966.500000,117.750000,683.500000,199.750000,1020.250000,127.500000,1753.500000
max,36.000000,9.000000,3540.000000,29790.000000,2171.000000,1869.000000,1529.000000,451.000000,1393.000000,6874.000000,4633.000000,47055.000000,1004.000000,3209.000000,2367.000000,7155.000000,1121.000000,6915.000000

In [9]:
data['stateut'].unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu & Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Orissa', 'Punjab', 'Rajasthan', 'Sikkim',
       'Tamil Nadu', 'Telangana', 'Tripura', 'Uttarakhand',
       'Uttar Pradesh', 'West Bengal', 'A & N Islands', 'Chandigarh',
       'D & N Haveli', 'Daman & Diu', 'Delhi', 'Lakshadweep',
       'Puducherry'], dtype=object)

In [10]:
data['stateut'].value_counts()

Andhra Pradesh       1
Arunachal Pradesh    1
Punjab               1
Rajasthan            1
Sikkim               1
Tamil Nadu           1
Telangana            1
Tripura              1
Uttarakhand          1
Uttar Pradesh        1
West Bengal          1
A & N Islands        1
Chandigarh           1
D & N Haveli         1
Daman & Diu          1
Delhi                1
Lakshadweep          1
Orissa               1
Nagaland             1
Mizoram              1
Himachal Pradesh     1
Assam                1
Bihar                1
Chhattisgarh         1
Goa                  1
Gujarat              1
Haryana              1
Jammu & Kashmir      1
Meghalaya            1
Jharkhand            1
Karnataka            1
Kerala               1
Madhya Pradesh       1
Maharashtra          1
Manipur              1
Puducherry           1
Name: stateut, dtype: int64

In [11]:
data['region'].unique()

array(['south', 'northeast', 'north', 'centre', 'west', 'east',
       'northwest', 'southeast', 'southwest'], dtype=object)

In [12]:
data['region'].value_counts()

north        9
northeast    6
south        5
centre       5
west         5
east         3
northwest    1
southeast    1
southwest    1
Name: region, dtype: int64

### label Encoder

In [13]:
from sklearn.preprocessing import LabelEncoder

In [14]:
le = LabelEncoder()

data['stateut'] = le.fit_transform(data['stateut'])
data['region'] = le.fit_transform(data['region'])